.form {

    max-width: 800px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

    transition: 1s box-shadow;
}

.form:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.block .text > * {
    /*padding-bottom: 10px;*/
}

input {

    border: none;

    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;

    padding: 0;
    margin: 0;

    outline: 0 solid transparent;
}

::placeholder {
    color: lightgray;
}

#text {
    min-height: 50px;
    /*background-color: red;*/
}

textarea {
    width: 100%;
    /*height: 100%;*/
    /*overflow: hidden;*/
    /*box-sizing: border-box;*/
    min-width: 175px;
    max-width: 760px;
    min-height: 100px;

    display: block;

    border: none;

    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;

    padding: 0;
    margin: 0;

    /*background-color: green;*/

    outline: 0 solid transparent;
}

textarea:hover {
    background-color: rgba(248, 248, 255, 0.29);
}

.buttons {
    /*width: 100%;*/
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: ghostwhite;
}

.button {
    cursor: pointer;
    margin-right: 10px;
}

.right {
    padding-right: 0;
    color: rgba(104, 0, 0, 0.34);
    float: right;
}

.button:hover {
    color: #18bf45;
}