.paper {
    background-color: white;
}

.block {
    position: relative;

    margin-top: 50px;

    /*width: auto;*/
    /*min-width: 400px;*/

    /*width: 800px;*/
    max-width: 800px;
    min-width: 800px;

    /*height: 250px;*/




    z-index: 1;

    /*border-radius: 2px;*/
    overflow: hidden;

    cursor: pointer;

    transition: min-width 1s, margin-top 1s, width 1s, box-shadow 1s;
    transition-timing-function: linear;

    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);*/
    /*transition: box-shadow 5s ease-in-out;*/
}

.block.edit {
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
    transition: min-height 3s, min-width 1s, margin-top 1s, width 1s, box-shadow 1s;

    min-width: 800px;
    min-height: 0;

    cursor: auto;
}

.block.edit:hover {
    /*box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);*/
}

.block.new {

    width: auto !important;
    min-width: 60px !important;
    min-height: 60px;

    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/

    background-color: white;

    margin-top: 0;

    transition: border-radius 1s, min-height 1s, min-width 1s, margin-top 1s, width 1s, box-shadow 1s;
    cursor: pointer;

    border-radius: 3px;
}

.block.new:hover {
    /*box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);*/


}

[contenteditable]:focus {
    outline: 0 solid transparent;
}

.text {
    /*padding-left: 20px;*/
    /*padding-bottom: 20px;*/

    padding: 20px;
    width: calc(100% - 40px);
    line-height: 20px;
    /*background-color: rgba(91, 211, 177, 0.1);*/
}

.CodeMirror {
    height: auto !important;
    min-height: 100px !important;
}

.new {
    max-width: none !important;
    /*margin-top: 50px !important;*/
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}