#head {
    padding: 50px;
    padding-bottom: 0;
    font-size: 40px;

    color: rgba(0, 0, 0, 0.3);

    display: flex;
    /*flex-flow: row wrap;*/
    /*justify-content: space-between;*/
}

.delimiter {
    padding-left: 20px;
    padding-right: 20px;
}