.login-form {
    background-color: #ebebee;
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.login-form input {
    font: inherit;
}

.login-form .title {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 2em;    
}

.login-form .fields {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    padding: 0px 20px;
}
.login-form .fields input {
    height: 40px;
    margin-top: 20px;
    padding: 10px 15px;
    box-sizing: border-box; 
    border: none;
    transition: box-shadow 0.2s;
}

.login-form form input:focus{
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.login-form form input.login-button {
    border: none;
    cursor: pointer;
    background-color: #a04fa0;
    color: var(--main-white-color);
    margin-bottom: 20px;
}

.login-form form input.login-button:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.login-form .additional-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.login-form .additional-links input {
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: rgba(0, 0, 0, 0.3);
}
.login-form .additional-links input:hover {
    color:black;
}

.login-form .additional-links .separator {
    color: rgba(0, 0, 0, 0.3);
}