.login-form {
    background-color: #ebebee;
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 2px 4px var(--inactive-black-color);
}

.login-form .title {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 2em;    
}

.login-form form input.login-button {
    border: none;
    cursor: pointer;
    background-color: var(--main-button-color);
    color: var(--main-white-color);
    margin-bottom: 20px;
}

.login-form form input.login-button:hover {
    box-shadow: 0 2px 4px var(--inactive-black-color);
}

.login-form .additional-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.login-form .additional-links input {
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: var(--inactive-black-color);
    font: inherit;
}

.login-form .additional-links input:focus {
    outline: none;
}

.login-form .additional-links input:hover {
    color:var(--active-black-color);
}

.login-form .additional-links .separator {
    color: var(--inactive-black-color);
}

