.paper {
    background-color: var(--main-white-color);
}

.block-container {
    --main-width: 700px;
    --main-margin: 50px;
    background-color: var(--main-white-color);
    position: relative;
    margin-bottom: var(--main-margin);
    width: var(--main-width);
    cursor: pointer;
    transition: min-height 3s, min-width 1s, margin-top 1s, width 1s, box-shadow 1s;
    box-shadow: 0 2px 4px var(--inactive-black-color);
}

.block-container.edit:hover {
    box-shadow: 0 8px 16pxvar(--inactive-black-color);
}

.block-container.new {
    min-height: 40px;
    height: 40px;
    box-shadow: 0 2px 4px var(--inactive-black-color);
}

.block, .block-template {
    height: 100%;
    width: 100%;
    min-height: 100%;
}