.template-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;

    margin-top: 50px;
}

.template-button {
    width: 100px;
    /*max-height: 100px;*/

    cursor: pointer;
    /*background-color: white;*/
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/

    /*margin-left: 20px;*/
    margin: 10px;

    transition: box-shadow 1s;

    overflow: hidden;
}

.template-button .template-title, .template-button .template-text {
    padding: 5px;
    font-size: 3px;
    /*width: calc(100% - 10px);*/
    align-self: stretch;

    /*width: 100%;*/

    /*box-sizing: border-box;*/

    /*background-color: red;*/
}

.template-button:hover {
    /*box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);*/
}

.template-button .grid2 {
    max-height: 100px;
}

.template-button .template-image {
    overflow: hidden;
}

.template-button .template-image img {
    /*overflow: hidden;*/
    display: block;
}