.row {
    display: flex;
    flex-direction: row;
    /*background-color: white;*/
}

.card {
    background-color: white;
}

/*For images*/

.grid {
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
    background-color: transparent;
}

.square {
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative;
}

.horizontal {
    padding-top: 30%;
    position: relative;
}

.square img,.horizontal img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: block;
    margin: auto;

    /*background-image: url('../../../public/cloud.png');*/
}