
.template-selector {
    display: inline-block;
}

.template-button {
    float: left;
    width: 100px;
    height: auto;

    cursor: pointer;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    margin-left: 20px;
    margin-top: 20px;

    overflow: hidden;
}

.template-button .template-title {
    padding: 5px;
    font-size: 3px;
}

.template-button:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.row {
    display: flex;
    flex-direction: row;
}

.template-button .template-image {
    background: green;
    /*min-width: 10px;*/
    /*min-height: 10px;*/
    overflow: hidden;
}

.template-button .template-image img {
    max-height: 100px;
    overflow: hidden;

    display: block;
}

.column .template-image img {
    width: 100%;
}

.row .template-image img {
    height: 100%;
}