.template-selector {
    /*margin: 10px;*/
    width: 100%;
    height: 120px;

    display: flex;
    flex-direction: row;

    /*padding: 5px;*/

    background-color: lightgray;
}

.template-button {
    width: 150px !important;
    /*min-height: 20px;*/
    /*max-height: 100px;*/
    /*min-height: 50px;*/
    height: 80px;

    display: flex;
    /*margin: 5px;*/
    cursor: pointer;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    margin-left: 20px;
    margin-top: 20px;

}

.template-button .template-title {
    padding: 5px;
    font-size: 3px;
}

.template-button:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.half {
    flex: 50;
}

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.template-button .template-image {
    background: green;
    width: 100%;
    height: 100%;
}

.template-button .template-image img {
    width: 100%;
}

.template-button .template-title {
    /*background: red;*/
    height: 100%;
}
