@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=cyrillic,cyrillic-ext,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600&subset=cyrillic,cyrillic-ext,latin-ext');

:root {
    --main-white-color: white; 
    --main-button-color: #a04fa0;
    --inactive-black-color:  rgba(0, 0, 0, 0.3);
    --active-black-color: black;
}

body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: #d7d7dd;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgba(20, 137, 181, 0.7);
}

main {
    padding-bottom: 100px;
}

.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}