@media only screen and (max-width : 800px) {

    .block {
        width: 100% !important;
        min-width: 0;
    }
    #head {
        /*font-size: 30px !important;*/
        /*padding-bottom: 20px !important;*/

        display: block !important;
        padding-left: 50px;
        width: auto;
    }
    #head a {
        /*font-size: 36px !important;*/
        padding-bottom: 5px;
        display: block !important;
    }
    .delimiter {
        display: none;
    }
}