[contenteditable]:focus {
    outline: 0 solid transparent;
}

.text {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;

    line-height: 24px;
    /*background-color: rgba(91, 211, 177, 0.1);*/
}

[contenteditable=true]:empty:before{
    content: attr(placeholder);
    display: block; /* For Firefox */
}

.CodeMirror {
    height: auto !important;
    min-height: 100px;
}