[contenteditable]:focus {
    outline: 0 solid transparent;
}

.text {
    /*padding-left: 20px;*/
    /*padding-bottom: 20px;*/

    padding: 20px;
    width: calc(100% - 40px);
    line-height: 20px;
    background-color: rgba(91, 211, 177, 0.1);
}

.CodeMirror {
    height: auto !important;
    min-height: 100px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row img {
    /*max-width: 70%;*/
    /*max-height: none;*/
    /*height: auto;*/
}

.column img {
    max-width: none;
    max-height: none;
    width: 100%;
    height: auto;
}