.block {
    --main-width: 700px;
    --main-margin: 50px;

    /*line-height: 40px;*/
}

.paper {
    background-color: white;
    overflow: hidden;
}

.block {
    position: relative;

    margin-bottom: var(--main-margin);

    width: var(--main-width);

    z-index: 1;

    cursor: pointer;
}

.block .paper {
    transition: min-height 3s, min-width 1s, margin-top 1s, width 1s, box-shadow 1s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.block.edit {
    width: var(--main-width);

    cursor: auto;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}

.block.edit:hover .paper {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.block.new .paper {

    /*min-width: 52px !important;*/
    min-height: 40px !important;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

    cursor: pointer;
}