.block {
    --main-width: 700px;
    --main-margin: 50px;

    /*line-height: 40px;*/
}

.paper {
    background-color: white;
}

.block {
    position: relative;

    margin-bottom: var(--main-margin);

    max-width: var(--main-width);
    min-width: var(--main-width);

    z-index: 1;

    /*border-radius: 2px;*/
    /*overflow: hidden;*/

    cursor: pointer;

    /*transition: min-width 1s, margin-top 1s, width 1s, box-shadow 1s;*/

    /*transition: box-shadow 5s ease-in-out;*/
}

.block .paper {
    transition: min-height 3s, min-width 1s, margin-top 1s, width 1s, box-shadow 1s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.block.edit {
    min-width: var(--main-width);
    min-height: 0;

    cursor: auto;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}

.block.edit:hover .paper {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}