form input {
    font: inherit;
}

.form.vertical {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    padding: 0px 20px;
}

.form input {
    height: 40px;
    margin-top: 20px;
    padding: 10px 15px;
    box-sizing: border-box;
    border: none;
    transition: box-shadow 0.2s;
}

.form input:focus{
    outline: none;
    box-shadow: 0 2px 4px var(--inactive-black-color);
}

.form .primary-button {
    background-color: var(--main-button-color);
    color: var(--main-white-color);    
    border: none;
    cursor: pointer;
}

.form .primary-button:hover {
    box-shadow: 0 2px 4px var(--inactive-black-color);
}

.form-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-links input {
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: var(--inactive-black-color);
    font: inherit;
}

.form-links input:focus {
    outline: none;
}

.form-links input:hover {
    color:var(--active-black-color);
}

.form-links .separator {
    color: var(--inactive-black-color);
}