@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

body {
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

    background-color: ghostwhite;
}

@media only screen and (max-width : 640px) {

    .post {
        width: 80% !important;
    }
    .block {
        width: 80% !important;
    }

}

body {
}

#root {
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 50px;

    /*background-color: lightcoral !important;*/
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    /*color: #35a8d8;*/
    color: rgba(20, 137, 181, 0.76);
}